



.product {
	width: 800px;
	height : 500px;  
    overflow: scroll;  
    background-color: #37bdf191;  
    box-shadow: 10px 10px 20px #000000;
    float :left;
}

.details { 
	display: inline-block;
}

#button {
	width: 300px;  
    height: 30px;  
    border: none;  
    font-size: 18px;
    border-radius: 17px;  
    padding-left: 7px;  
    color: #000000; 
    margin-top: 100px;
    background-color: cyan;
}
#updateAddress {
	width: 300px;  
    height: 30px;  
    border: none;  
    font-size: 18px;
    border-radius: 17px;  
    padding-left: 7px;  
    color: #000000; 
    background-color: cyan;
}

.product-card {
	margin-left: 15px;
	margin-top: 15px;
}


#button:hover, #updateAddress:hover {
	background-color: green;
}


#totalitems ,#totalprice{
	float: right;
	margin-left:100px;
}

h2{
	float:left;
}

#cardNumber{
	width: 398px;
    height: 30px;
    border-radius: 3px;
    padding-left: 8px;
    float: left;
    margin-left: 20px;
    margin-top: 110px;
}
 #cardName{
	width: 300px;
    height: 30px;
    border-radius: 3px;
    padding-left: 8px;
    float: left;
    margin-left: -400px;
    margin-top: 110px;
}
 #valid{
	width: 150px;
    height: 30px;
    border-radius: 3px;
    padding-left: 8px;
    float: left;
    margin-top: 110px;
    margin-left: -304px;
}

#cvv {
	width: 277px;
    height: 41px;
    border-radius: 3px;
    padding-left: 8px;
    position: absolute;
    margin-top: -63px;
    margin-left: -180px; 
}

#cardNumber:valid, #cardName:valid, #valid:valid, #cvv:valid{
	border: 4px solid;  
	border-color: rgb(0, 128, 0);
	color:green;
}

#cardNumber:invalid, #cardName:invalid, #valid:invalid, #cvv:invalid{
	border: 3px solid;  
	border-color:red;
	color: red;
}

input:focus{
	font-size: 17px;
}

#status{
	width: 140px;
}
table, th,td {
	border:1px solid black;
}

th
{
	overflow: auto;
}

td {
	overflow: auto;
}

table {
	table-layout: fixed;
	width: 100%;
}

#update {
	background-image:url("../photos/update.png");
    float: inherit;
    width: 90px;
    height: 30px;
 	color: #ffffff00;
}


#remove {
	color: #000000;
    font-weight: 800;
    background-color: #ff000054;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
}

#address {
	 border-radius: 3px;
     padding-left: 8px;
     width: 300px;
     height: 30px;
}

#phoneNumber {
	 border-radius: 3px;
     padding-left: 8px;
     width: 300px;
     height: 30px;
}

#remove:hover {
	background-color:red;
	
	
}

#ordersID {
	width: 200px;
    height: 30px;
    float: left;
}

#querytext{
	width: 100%;
    height: 30px;
    float: left;
}

#submitQuery{
	width: 200px;
    height: 30px;
    float: left;
}

.details form {
	margin-top: 50px;
	background-image: url("../photos/icons/card.jpg");
	width: 913px;
	height: 276px;
}
.det {
	display: inline-block;
}


#helpTaple {
	table-layout: fixed;
	width: 100%;
}

#helpTaple th {
	background-color: green;
	height: 40px;
}

#helpTaple td {
	background-color: white;
	height: 40px;
}